@import "colors";

button, .btn {
  border: none;
  background-color: $accent-color;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  &.secondary {
    background-color: $note-color;
    padding: 0.5rem;
  }

  &:hover {
    background-color: $accent-color-hover;
    color: white;
    text-decoration: none;
  }

  &:active {
    background-color: $accent-color-active;
  }
  &:disabled {
    background-color: $border-color;
  }



}

.buttons {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
}
