@import "src/styles/colors";

.option {
  display: inline-block;
  padding: 0.5rem 0;
  text-align: center;
  width: 3rem;
  background: $note-bg-color;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  &:last-of-type {
    margin-bottom: 1rem;
  }
  &.active {
    background: $accent-color;
    color: white;
  }
}

.votes {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  .vote {
    display: block;
    background: $note-bg-color;
    opacity: 1;
    animation: show-vote 500ms ease-out;

    .name {
      text-align: center;
      padding: 1rem;
    }

    .result {
      text-align: center;
      font-size: 2em;
      padding: 0 1rem 1rem 1rem;
    }

  }

}

.no-votes {
  display: block;
  background: $note-bg-color;
}

.avg {
  margin-bottom: 1rem;
}

@keyframes show-vote {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 400px) {
  .votes {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 800px) {
  .votes {
    grid-template-columns: repeat(6, 1fr);
  }
}
