<ng-container *ngIf="loadingState.loaded && session">
  <div class="basic-info">
    <h2>{{session.name}}</h2>
    <pre>{{session.description}}</pre>
    <pre>{{joinLink}}</pre>
  </div>

  <div *ngIf="currentTopic">
    <app-topic-result [topic]="currentTopic" [showOptions]="true"></app-topic-result>

    <button *ngIf="session.activeTopic" type="button" class="btn" (click)="endVote()">End vote</button>
  </div>

  <div *ngIf="!session.activeTopic">
    <h3>Create new topic</h3>
    <app-create-topic-form [session]="session"></app-create-topic-form>
  </div>

  <app-members [session]="session"
               (remove)="removeMember($event)"></app-members>


</ng-container>

<app-loading-spinner *ngIf="loadingState.loading"></app-loading-spinner>
<app-error-message *ngIf="loadingState.error" [error]="loadingState.error"></app-error-message>
