<ng-container *ngIf="loadingState.loaded && session">
  <div class="basic-info">
    <h2>{{session.name}}</h2>
    <pre>{{session.description}}</pre>
    <pre>{{joinLink}}</pre>
  </div>

  <div class="topic-setup">
    Topic setup
  </div>

  <div class="members">
    <app-members [members]="session.members"
                 [votes]="session.activeTopic?.votes"
                 [isAdmin]="true"
                 (remove)="removeMember($event)"></app-members>

  </div>


</ng-container>

<app-loading-spinner *ngIf="loadingState.loading"></app-loading-spinner>
<app-error-message *ngIf="loadingState.error" [error]="loadingState.error"></app-error-message>
