<ng-container *ngIf="loadingState.loaded && session">
  <div class="basic-info">
    <h2>{{session.name}}</h2>
    <pre>{{session.description}}</pre>
    <pre>{{joinLink}}</pre>
  </div>

  <div *ngIf="session.activeTopic" class="topic-info">
    <h3>Current topic</h3>
    <h4>{{session.activeTopic.name}}</h4>
    <p>Started <app-time-ago [date]="session.activeTopic.startedAt"></app-time-ago></p>

    <button type="button" class="btn">End vote</button>
  </div>

  <div *ngIf="!session.activeTopic">
    <h3>Create new topic</h3>
    <app-create-topic-form [session]="session"></app-create-topic-form>
  </div>

  <div class="members">
    <h3>Members</h3>
    <app-members [session]="session"
                 (remove)="removeMember($event)"></app-members>

  </div>


</ng-container>

<app-loading-spinner *ngIf="loadingState.loading"></app-loading-spinner>
<app-error-message *ngIf="loadingState.error" [error]="loadingState.error"></app-error-message>
